<ul>

    <li>
        <a asp-controller="Admin" asp-action="Dashboard">
            Dashboard
        </a>
    </li>

    <li>
        <a asp-controller="Students" asp-action="Index">
            Manage Students
        </a>
    </li>

    <li>
        <a asp-controller="Subjects" asp-action="Index">
            Manage Subjects
        </a>
    </li>

    <li>
        <a asp-controller="Grades" asp-action="Index">
            Manage Grades
        </a>
    </li>

    <li>
        <a asp-controller="Books" asp-action="Index">
            Manage Books
        </a>
    </li>

    <li>
        <a asp-controller="Import" asp-action="Index">
            Import Excel
        </a>
    </li>

</ul>