<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.rtl.min.css" />
<link rel="stylesheet" href="~/libs/plyr/plyr.css" />
<link rel="stylesheet" href="~/libs/owl/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/libs/icons/bootstrap-icons.min.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/site.css" />
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-right">
                    <div class="flex-shrink-0">
                        <a href="~/index.html">
                            <img src="~/images/logo.jpg" width="124" height="124" alt="logo">
                        </a>
                    </div>
                    <div class="flex-grow-1">
                        <h6>كلية البابا شنودة الثالث</h6>
                        <div class="socials">
                            <a href="#" target="_blank" class="social-item facebook">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#" target="_blank" class="social-item twitter">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="#" target="_blank" class="social-item youtube">
                                <i class="bi bi-youtube"></i>
                            </a>
                            <a href="#" target="_blank" class="social-item instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-3">
                <div class="footer-left">
                    <h6>اتصل بنا</h6>
                    <p>مطرانية شبرا الخيمة وتوابعها بجوار المطافئ – محطة كلية الزراعة</p>
                    <a href="http://www.alanbamarcos.com" target="_blank">http://www.alanbamarcos.com</a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="copyright">
                    <p> جميع الحقوق محفوظة © 2025</p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- ~/footer -->
