<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.rtl.min.css" />
<link rel="stylesheet" href="~/libs/plyr/plyr.css" />
<link rel="stylesheet" href="~/libs/owl/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/libs/icons/bootstrap-icons.min.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/site.css" />
<header class="header">
    <div class="container" >
        
        <div class="header-inner">
            <div class="row">
                <div class="col-6 col-md-3 align-self-center order-2 order-md-1">
                    <img src="~/images/png/pope-2.png" width="180" alt="popes">
                </div>
                <div class="col-12 col-md-6 align-self-center text-center order-1 order-md-2">
                    <h1 class="fw-bold h1 aref-ruqaa-regular text-center">
                        كلية البابا شنودة الثالث
                        الإكليريكية
                    </h1>
                    <p class="text-center text-uppercase jost-regular">
                        Pope Shenouda III Theological
                        Seminary
                    </p>
                    <img src="~/images/logo.jpg" width="120" height="120" alt="logo">
                </div>
                <div class="col-6 col-md-3 align-self-center order-3 order-md-3">
                    <div class="text-end">
                        <img src="~/images/png/pope-1.png" width="180" alt="popes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>