@{
    ViewData["Title"] = "أعضاء هيئة التدريس";
}

<!-- ===== BREADCRUMB ===== -->
<div class="page-header">
    <div class="container">
        <div class="ph-inner">
            <h2>أعضاء هيئة التدريس</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        أعضاء هيئة التدريس
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- ===== TEACHERS ===== -->
<div class="section inner-teachers-section">
    <div class="container">
        <div class="row">

            <!-- ===== CARD ===== -->

            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-1.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>نيافة الحبر الجليل الأنبا مرقس</h6>
                        <p>
                            مطران شبرا الخيمة وتوابعها <br>
                            عميد كلية البابا شنودة الثالث <br>
                            مدرس مادة اللاهوت الروحي
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-18.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص يوسف صابر</h6>
                        <p>
                            وكيل كلية البابا شنودة الثالث<br>
                            مدرس مادتي قوانين كنسية وتاريخ اديان <br>
                            
                        </p>
                    </div>
                </div>
            </div>


            <!-- 2 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-2.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>أ.د أشرف جميل</h6>
                        <p>مدرس مادة مناهج البحث</p>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-3.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القس أندراوس فؤاد</h6>
                        <p>مدرس مادة اللغة اليونانية</p>
                    </div>
                </div>
            </div>

            <!-- 4 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-4.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القس بطرس عاطف</h6>
                        <p>مدرس مادة اللاهوت الطقسي</p>
                    </div>
                </div>
            </div>

            <!-- 5 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-5.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص إبراهيم إبراهيم</h6>
                        <p>مدرس مادة تفسير عهد جديد</p>
                    </div>
                </div>
            </div>

            <!-- 6 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-6.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص أنطونيوس عزوز</h6>
                        <p>مدرس مادة اللاهوت المقارن والحوارات المسكونية</p>
                    </div>
                </div>
            </div>

            <!-- 7 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-7.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص إينيانوس صليب</h6>
                        <p>مدرس مادة العلم والكتاب</p>
                    </div>
                </div>
            </div>

            <!-- 8 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-8.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص حزقيال لطفي</h6>
                        <p>مدرس مادة الأحوال الشخصية</p>
                    </div>
                </div>
            </div>

            <!-- 9 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-9.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص الدكتور مكاري القمص تادرس</h6>
                        <p>مدرس مادة اللاهوت العقيدي والنظري</p>
                    </div>
                </div>
            </div>

            <!-- 10 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-10.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص ويصا عزيز</h6>
                        <p>مدرس مادة اللاهوت الطقسي</p>
                    </div>
                </div>
            </div>

            <!-- 11 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-11.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص يسطس فوزي</h6>
                        <p>مدرس مادة تاريخ الكنيسة</p>
                    </div>
                </div>
            </div>

            <!-- 12 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-12.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>د. لويز لبيب</h6>
                        <p>مدرس مادة علم النفس والاجتماع</p>
                    </div>
                </div>
            </div>

            <!-- 13 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-13.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>د. نرمين رزق الله</h6>
                        <p>مدرس مادة علم المخطوطات</p>
                    </div>
                </div>
            </div>

            <!-- 14 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-14.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القمص ميخائيل جريس</h6>
                        <p>مدرس مادة تاريخ الكنيسة</p>
                    </div>
                </div>
            </div>

            <!-- 15 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-15.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>بيشوي إسحاق</h6>
                        <p>مدرس اللغة القبطية والآبائيات</p>
                    </div>
                </div>
            </div>

            <!-- 16 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-16.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>المُعلم إسحاق حنا</h6>
                        <p>مدرس مادة الألحان والتسبحة</p>
                    </div>
                </div>
            </div>

            <!-- 17 -->
            <div class="col-md-6 col-lg-3">
                <div class="teacher-card-item">
                    <div class="image">
                        <img src="~/images/teachers/teacher-17.jpeg" alt="teacher">
                    </div>
                    <div class="info">
                        <h6>القس سيلا وديع</h6>
                        <p>مدرس مادة اللغة الإنجليزية</p>
                    </div>
                </div>
            </div>
            <!-- كرر نفس البلوك لباقي المدرسين -->
            <!-- نفس HTML بتاعك بالظبط -->

        </div>
    </div>
</div>

<!-- ===== ALERT ===== -->
<div class="section duration-alert">
    <div class="container">
        <div class="alert-item">
            <div class="icon">
                <!-- SVG كما هو -->
            </div>
            <div class="text">
                <h5>مدة الدراسة والدرجة العلمية</h5>
                <p class="mb-0">
                    عدد سنوات الدراسة بالكلية أربع سنوات يحصل الطالب بعدها على بكالوريوس في العلوم اللاهوتية.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="preloader">
    <span>LOADING</span>
    <span class="loader"></span>
</div>

<!-- ===== APPLICATION MODAL ===== -->